doctype html
html
  head
    title Resume
    meta(name="description", content="Curriculum Vitae")
    meta(name="author", content="Marko Bošnjak")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href=url + "/images/fav/favicon.ico", rel="icon", type="image/x-icon")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.2/css/all.css")
    link(rel="stylesheet", href="../../css/admin/resume.css")
    script(src="https://code.jquery.com/jquery-3.4.1.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="../../handlers/admin/resumeHandlers.js")
  body
    div#wrapper.d-flex
      div#sidebar-wrapper.bg-light.border-right
        div.sidebar-heading Administration
        div.list-group.list-group-flush
          a.list-group-item.list-group-item-action.bg-light(href=url + "/admin/profile") Profile
          a.list-group-item.list-group-item-action.bg-light(href=url + "/admin/resume") Resume
          a.list-group-item.list-group-item-action.bg-light(href=url + "/admin/skills") Skills
          a.list-group-item.list-group-item-action.bg-light(href=url + "/admin/portfolio") Portfolio
          a.list-group-item.list-group-item-action.bg-light(href=url + "/admin/contact") Contact
      div#page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
          button#menu-toggle.btn.btn-secondary
            i.fas.fa-angle-double-left
          button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div#navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-2.mt-lg-0
              li.nav-item.dropdown
                a#username.nav-link.active.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{username}
                div.dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdown")
                  a.dropdown-item.profileLink(href=url + "/admin/profile") Profile
                  a.dropdown-item.changePasswordLink(href=url + "/admin/change/password") Change password
                  a.dropdown-item.logOutLink(href="#") Log out
        div.container-fluid
          div#resumeErrorMessage.alert.alert-danger.alert-dismissible.fade.show
            strong
            button#hideResumeErrorMessage.close(type="button")
              span(aria-hidden="true") &times;
          div#resumeSuccessMessage.alert.alert-success.alert-dismissible.fade.show
            strong
            button#hideResumeSuccessMessage.close(type="button")
              span(aria-hidden="true") &times;
          div.resumeHeader
            div.resumeTitle
              h1 Resume
            div.createResumeButton
              h1
                a.btn.btn-primary(href=url + "/admin/create/resume", role="button") Create
          div#resumeDiv
    div#editResumeModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
      form#editResumeForm(method="POST", autocomplete="off")
        div.modal-dialog.modal-dialog-centered(role="document")
          div.modal-content
            div.modal-header
              h5.modal-title Edit resume
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times
            div.modal-body
              input#editId(type="hidden", name="editId")
              div.form-group
                label(for="editType") Edit type:
                select#editType.form-control
                  option(value="education") Education
                  option(value="experience") Experience
              div.form-group
                label(for="editTitle") Edit title:
                input#editTitle.form-control(type="text", name="editTitle")
              div.form-group
                label(for="editTitle_de") Edit title DE:
                input#editTitle_de.form-control(type="text", name="editTitle_de")
              div.form-group
                label(for="editWorkPlace") Edit work place:
                input#editWorkPlace.form-control(type="text", name="editWorkPlace")
              div.form-group
                label(for="editWorkPlace_de") Edit work place DE:
                input#editWorkPlace_de.form-control(type="text", name="editWorkPlace_de")
              div.form-group
                label(for="editDuration") Edit duration:
                input#editDuration.form-control(type="text", name="editDuration")
              div.form-group
                label(for="editDuration_de") Edit duration DE:
                input#editDuration_de.form-control(type="text", name="editDuration_de")
              div.form-group
                label(for="editDescription") Edit description:
                input#editDescription.form-control(type="text", name="editDescription")
              div.form-group
                label(for="editDescription_de") Edit description DE:
                input#editDescription_de.form-control(type="text", name="editDescription_de")
            div.modal-footer
              button#closeEditResumeModalButton.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
              button.btn.btn-primary(type="submit") Edit
